html{
    background-color: black;
    opacity: 0.9;
}

nav{
    height:69px;
    border-bottom: 1px solid seashell;
    position:fixed;
    width: 1200px;
    display:flex;
    z-index :5;
    background-color: black;
    

}

nav img{
    height: 50px;
}

.main{
    height: 700px;
    position: relative;
}

.navheaders{
    display:flex;
    justify-content: flex-end;
    width: 100%;
}

#mission{
    margin-right: 10px;
}

#Tea{
    margin-right: 10px;
}

#loc{
    margin-right: 10px;
}

